.w3-input {

}
.w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th {
    vertical-align: middle;
    border: 1px solid #ddd;
    font-size: 11px;
    padding-left: 2px;
    
}

.w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th {
    padding: 4px;
}

.w3-table th, .w3-table-all th {
    padding: 2px;
    border: 1px solid #ddd;
}

.w3-table td:first-child  {
    padding-left: 3px;
}
.w3-table  th:first-child {
    padding-left: 3px;
}

.invoice-totals {
  display: inline-block;
  width: 50px;
}

.w3-btn, .w3-button {
    padding: 2px 16px;
    vertical-align: unset; 
}
.legend-font{
            font-family:'Times New Roman', Times, serif;
            color:gray;
            font-size:large;
        }
.chk-input {
            position: absolute;
            left: -9999px;
        }
.my-lbl{
    font-size:20px;
    font-weight:400;
}
.my-lbl:hover{
    font-size:22px;
    font-weight:700;
}
.my-modal-st{
    margin-top:0%;
    margin-left:15%;
    width:60%;
    height:90%;
   }
.my-icon{
    color:lightgray;
}
.my-icon:hover{
    color:mediumpurple;
}
.a-l{text-align:left!important}
.a-r{text-align:right!important}
.a-c{text-align:center!important}
    